<style>
* {
    background-color: #dce6f2;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    /*background-color: #e5e5e5;*/
    background-color: #dce6f2;
    display: flex;
    height: 80px;
    font-size: 1.1rem;
    width: 100vw;
    margin-right: 40px;
    height: 89px;
    justify-content: space-around;
    border-bottom: 3px solid #00BFFF;
    
  }

body {
    background-color:#dce6f2;
    margin: 0;
    padding: 0;
    color: #14213d;

    
}

.fonte1 {
    font-family: 'Roboto', sans-serif;

}

.fonte2 {
    font-family: 'Caprasimo', cursive;

 
}
/*.navbar {
    background-color: #FFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; 
    padding: 10px 20px;
    color: white;
}*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    padding: 10px 20px;
    color: white;
  }

  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-menu li {
    padding: 0;
    margin: 0;
  }
  

.menu {
    position: fixed; /* Fixa o menu na posição */
    top: 0px; /* Alinha o menu ao topo da tela */
    right: 0px; /* Alinha o menu à direita da tela */
    left: 0px;
    background-color: #e5e5e5;
    border-bottom: 5px solid #00BFFF;
    align-items: center;
    position: right;
    
  }

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 30px;
    display: ;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FF8C00;
    border-radius: 50px;


}

.navbar a:hover {
    background-color: #00BFFF;
    color: #FFf;
    border-radius: 50px;
}

.navbar-logo {
    display: block;
    width: 95px;
    height: auto;
    margin-left: 20px;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}



.img {
    margin-top: 150px;
    margin-right: 10px;
    margin-left: 60px;
    width: 600px;
    height: 350px;
    border-radius: 8px;
    border-bottom: 4px solid #00BFFF;
    border-right: 3px solid #00BFFF ;
}

.img2 {
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 60px;
    width: 600px;
    height: 350px;
    border-radius: 8px;
    border-bottom: 4px solid #00BFFF;
    border-left: 3px solid #00BFFF ;


}


.logo {
    margin-top: 10px;
    margin-right: 150px;
    

}


footer {
    text-align: center;
    padding: 15px ;
    background-color: #dce6f2;
    color: #14213d;


}

.div1 {
    font-style: italic;
    font-weight: 250;
    font-size: 1.9rem;
    padding-top: 130px;
    padding-right: 60px;
    padding-bottom: 5px;
    padding-left: 60px;

  }


  section {
    display: flex ;
  }


.div2 {
    color: #FF8C00;
    margin-bottom: -3px;
}


.div3 {
    margin-top: -8px;
    color: #00BFFF;

}

.div4 {
    font-style: italic;
    font-size: 1.5rem;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 50px;

}


  .titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.text1 {
    font-style: italic;
    font-weight: 250;
    font-size: 1.9rem;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom:30px;
}


.text2 {
    font-style: italic;
    font-weight: 250;
    font-size: 1.9rem;
    padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 5px;
    padding-left: 60px;
} 

.text3 {
    font-style: italic;
    font-weight: 250;
    font-size: 1.8rem;
    padding-top: 5px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
} 



</style>