* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
  }

/* Estilos gerais para o cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #487eb0;
  color: #fff;
}


.navbar-logo {
  max-width: 4rem;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px; /* Adicione um espaçamento entre os itens do menu */
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/* Estilos específicos para telas pequenas e móveis */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  .navbar {
      margin-top: 20px; /* Adicione margem acima da navbar */
  }

  .navbar-menu {
      flex-direction: column;
  }

  .navbar-menu li {
      margin: 10px 0; /* Espaçamento entre os itens do menu */
  }
}

  a {
    display: block;
    width: auto;
    height: auto;
    line-height: 50px;
    padding: 10px 5px;
    margin: 5px;
    /* background-color: #000; */
    color: #FFF;
    /* border-radius: 5px; */
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    }

    .navbar a:hover {
      background-color: #FF8C00;
      
      
      /* border-radius: 8px; */
  }

 

.logo {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

footer {
  display: block;
  /* text-align: center; */
  padding: 2px 0 5px;
  background-color: #487eb0;
  

}