main {
  padding: 0;
  border: 0;
  margin: 0 auto;
  width: 1280px;
}
@media( 1024px<= width < 1280px ) {
  main{
    width: 1024px;
  }
}
@media( 768px<= width < 1024px ) {
  main{
    width: 768px;
  }
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h2 {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
}
@media( 768px<= width < 1024px ) {
  h2 {
    font-size: 2.0em;
  }
}
#card-list {
  text-align: center;
  padding: 7%;
  font-size: 1.6em;
}
@media( 1024px<= width < 1280px ) {
  #card-list {
    padding: 8%;
  }
}
@media( 768px<= width < 1024px ) {
  #card-list {
    font-size: 1.2em;
  }
}
section div ul {
  list-style: none;
}
.card-icon img {
  width: 300px;
  height: 300px;
  border: 2px solid;
  border-color: blueviolet;
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
}
@media( 1024px<= width < 1280px ) {
  .card-icon img {
    margin: 15px;
  }
}
@media( 768px<= width < 1024px ) {
  .card-icon img {
    width: 220px;
    height: 220px;
    border: 1.5px solid;
    margin: 15px;
  }
}
dialog{
  border: none;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}
.selected {
  text-align: center;
  margin: 0 auto;
}
.selected p, span {
  font-size: 1.6em;
}
@media( 768px<= width < 1024px ) {
  .selected p, span {
    font-size: 1.2em;
  }
}
h3 {
  font-size: 2em;
}
@media( 768px<= width < 1024px ) {
  h3 {
    font-size: 1.6em;
  }
}
.container-botao-conheca {
  margin: 0 auto;
  width: 1280px;
  height: 200px;
}
@media( 1024px<= width < 1280px ) {
  .container-botao-conheca {
    width: 1024px;
    height: 180px;
  }
}
@media( 768px<= width < 1024px ) {
  .container-botao-conheca {
    width: 768px;
    height: 180px;
  }
}

button, #botaoConheca {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.6em;
  cursor: pointer;
}
@media( 768px<= width < 1024px ) {
  button, #botaoConheca {
    height: 50px;
    line-height: 50px;
  }
}

.modal-content {
  width: 75vw;
  height: 80vh;
  margin: 30px auto;
}
@media( 768px<= width < 1024px ) {
  .modal-content {
    margin-top: 10px;
  }
}
.selected {
  width: 80%;
}
#imgCardSelected {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
