/* Estilo do modal */
.modal {
  display: none; /* Por padrão, o modal está oculto */
  position: fixed; /* Permite que o modal cubra toda a janela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
  z-index: 1; /* Coloca o modal acima de outros elementos */
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centraliza o modal verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

/* Estilo do botão de fechar (×) */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

/* Estilize o link como um botão de ação se desejar */
.card-title {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.card-title:hover {
  text-decoration: underline;
}
