* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
  }
  

  
  header {
    background-color: #487eb0;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
    height: 40px;
  }
  
  .navbar {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* background-color: #333; */
    padding: 10px 20px;


.navbar a {
    color: #FF8C00;
    text-decoration: none;
    color: white;    
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .grid-item h3 {
    margin-top: 10px;
  }
  
  .grid-item button {
    background-color: #e84118;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  /* Estilos para o modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }



.logo {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 30px ;
    background-color: #487eb0;

}