main {
  padding: 0;
  border: 0;
  margin: 0 auto;
  width: 1280px;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h2 {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
}
#card-list {
  text-align: center;
  padding: 7%;
  font-size: 1.6em;
}
section div ul {
  list-style: none;
}
.card-icon img {
  width: 300px;
  height: 300px;
  border: 2px solid;
  border-color: blueviolet;
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
}

dialog{
  border: none;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}
.selected {
  text-align: center;
  margin: 0 auto;
}
.selected p, span {
  font-size: 1.6em;
}
h3 {
  font-size: 2em;
}
.container-botao-conheca {
  margin: 0 auto;
  width: 1280px;
  height: 200px;
}

button, #botaoConheca {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.6em;
  cursor: pointer;
}

.modal-content {
  width: 75vw;
  height: 80vh;
  margin: 30px auto;
}
.selected {
  width: 80%;
}
#imgCardSelected {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
