main h2 {
 text-align: center;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

section div {
  width: 30%;
  height: 30%;
}

section div ul {
  list-style: none;
}
