<style>body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #FFF;
    padding: 10px;
}


.navbar a {
    color: #FF8C00;
    text-decoration: none;
    padding: 8px 30px;
    position: left;
}

.navbar a:hover {
    background-color: #00BFFF;
    color: #FFf;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}



.logo {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 30px ;

}





</style>