body {
  /* background-color: lightgray; */

}
main {
  padding: 0;
  border: 0;
  margin: 0 auto;
  width: 1280px;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h2 {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
}
section div ul {
  list-style: none;
}
.card-icon{
  /* para-card-list */
  font-size: 1.6em;
}

.card-icon {
  width: 300px;
  height: 300px;
  border: 2px solid;
  border-color: blueviolet;
  border-radius: 30px;
  margin: 20px;
}

.selected h2{
  margin: 20px;
}

#imgCardSelected {
  width: 800px;
  margin: 0 240px;
}
.selected {
  text-align: center;

}

.selected p, span {
  font-size: 1.6em;
}
h3 {
  font-size: 2.0em;
}

#botao-conheca {
  padding: 20px 0;
  margin: 0 290px;
}

button {
  width: 700px;
  height: 60px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.6em;
}

footer {
  /* background-color: lightblue; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
