* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #487eb0;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
    height: 40px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-logo {
    display: block;
    width: 80px;
    height: auto;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-menu li {
    padding: 0;
    margin: 0;
  }
  
  .navbar-menu a { /*diferente do  style.css*/
    text-decoration: none;
    color: white;
    display: block;
    width: auto;
    height: auto;
    line-height: 50px;
    padding: 10px 5px;
    margin: 5px;
    /* background-color: #000; */
    color: #FFF;
    /* border-radius: 5px; */
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
  }
  


    .navbar a:hover {
      background-color: #FF8C00;
      
      
      /* border-radius: 8px; */
  }

 

.logo {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    /* padding: 30px ; */
    background-color: #487eb0;
    bottom: 0;
    position: fixed;
    width: 100%;

}

#icone-editar { /*style.css não contém*/
    display: block;
    width: 13px;
    
  }

.container { /*style.css não contém*/
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 30%;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  
  .grid-item h3 {
    margin-top: 10px;
  }
  
  button {
    background-color: #487eb0;;
    color: white;
    padding: 5px 7px;
    cursor: pointer;
  }

  /* Estilos para o modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }

  .textoEsquerda {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    width: 30%;
  }

