.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    width: 100 rem;
    height: 100 rem;
    padding-bottom: 100%;
    position: relative;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .grid-item h3 {
    margin-top: 10px;
  }
  
  .grid-item button {
    background-color: #e84118;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  h3 {
    text-align: center;
    margin-top: 10px;
}

button {
    display: block;
    margin: 0 auto;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para telas menores, como smartphones */
@media (max-width: 768px) {
    .grid-item {
        padding-bottom: 75%; /* Ajuste a proporção conforme necessário para dispositivos menores */
    }
}

/* Estilos para telas maiores, como tablets e desktops */
@media (min-width: 769px) {
    .grid-item {
        padding-bottom: 50%; /* Ajuste a proporção conforme necessário para dispositivos maiores */
    }
}


  /* Estilos para o modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }

/* Estilos para o botão "Fechar" no modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

/* Estilos para o conteúdo dentro do modal */
#modal-content-text {
  font-size: 18px;
}


