<style>body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #FFF;
    padding: 10px;
}

.navbar a {
    color: #FF8C00;
    text-decoration: none;
    padding: 8px 30px;
    position: left;
}

.navbar a:hover {
    background-color: #00BFFF;
    color: #FFf;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.caixa {
    background-color: #00BFFF;

    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-left: 80px;

    border-radius: 8px;
}


footer {
    text-align: center;
    padding: 30px ;

}





</style>