<style>
* {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:#e5e5e5;
    margin: 0;
    padding: 0;
    color: #14213d;

    
}

.fonte1 {
    font-family: 'Roboto', sans-serif;
}

.fonte2 {
    font-family: 'Caprasimo', cursive;
}
.navbar {
    background-color: #FFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    padding: 10px 20px;
    color: white;
}


.menu {
    position: fixed; /* Fixa o menu na posição */
    top: 0px; /* Alinha o menu ao topo da tela */
    right: 0px; /* Alinha o menu à direita da tela */
    left: 0px;
    background-color: #e5e5e5;
    border-bottom: 5px solid #00BFFF;
    align-items: center;
    position: right;
    
  }

.navbar a {
    color: #FF8C00;
    text-decoration: none;
    padding: 8px 30px;
    display: ;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;


}

.navbar a:hover {
    background-color: #00BFFF;
    color: #FFf;
    border-radius: 8px;
}

.navbar-logo {
    display: block;
    width: 80px;
    height: auto;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}



.img {
    margin-top: 0px;
    margin-right: 180px;
    margin-left: 80px;
    width: 1200px;
    height: 300px;
    border-radius: 8px;


}

.logo {
    margin-top: 0px;
    margin-right: 150px;
    

}

footer {
    text-align: center;
    padding: 30px ;

}

.div1 {
    font-style: italic;
    font-weight: 250;
    font-size: 1.5rem;
    padding-top: 90px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;


  }

  /*main {
    background-image: url(/img/dog5.jpg);
    background-size: contain; 
  }*/

.div2 {
    padding: 0px;
    padding-bottom: 0px;
    color:#14213d;

}

.div3 {

    padding-top: 0px;
    padding-bottom: 0px;
    color: #FF8C00;
}

.div4 {
    font-style: italic;
    font-size: 1.5rem;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
}


  .titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}




</style>